:root {
  --mainColor: #152020;
  --secondaryColor: #192734;
  --mainText: white;
  --secondaryText: #eeeeee;
  --borderColor: #164d56;
  --themeDotBorder: white;
  --previewBg: rgb(25, 39, 52, 0.8);
  --previewShadow: #111921;
  --buttonColor: #17a2b8;
}
